@use "variables";
//border
%defaultborder{
   border: 1px solid #9C69E2;
}
%defaultradius{
   border-radius: 50px;
}
//card's bg
%first-bg {
   background: $first-bg-color;
   background-position: top 20px right 50px;
}
%second-bg {
   background: $second-bg-color;
   background-position: bottom 20px right 20px;
}
%third-bg {
background: $third-bg-color;
background-position: top 20px right 20px;
}
%fourth-bg {
background: $fourth-bg-color;
background-position: top 20px right 20px;
}