// colors
$main-color:#4B5D68;
$title-color:#212353;
$sub-title-color: #7B7B7B;
$link-color:#9C69E2;
$hover-color:#8A40EE;
$second-link-color: #F063B8;
$second-hover-color:#EB4BAB;
$accent-color: rgba(99, 195, 199);
//bg
$bg-color: #FFFFFF;
$accent-bg-first: #FDE8F5;
$accent-bg-second: #CCDDFF;
$first-bg-color: #F0FAF9 url(../images/bg-image1.svg) no-repeat;
$second-bg-color: #F6F0FD url(../images/bg-image2.svg) no-repeat;
$third-bg-color: #FEF0F8 url(../images/bg-image3.svg) no-repeat;
$fourth-bg-color: #EAF6FC url(../images/bg-image4.svg) no-repeat;
// Fonts
$first-font: 'Montserrat300', sans-serif;
$second-font: 'Montserrat400', sans-serif;
$main-font: 'Montserrat500', sans-serif;
$sub-title-font: 'Montserrat600', sans-serif;
$title-font: 'Montserrat700', sans-serif;
$accent-title-font: 'WorkSans700', san-serif;
$accent-sub-title-font: 'WorkSans400', san-serif;